<div class="container">
  <div class="row text-center mt-5">
    <div class="col-md-12">
      <h3>
        <strong>
          フォロー中のユーザー
        </strong>
      </h3>
      <%= @following_users.count %>人
    </div>
  </div>

  <div class="row mt-3 text-center">
    <div class="col-md-6 following-list">
      <table class="table table-border table-hover table-sm">
        <tbody>
          <% @following_users.each do |following_user| %>
            <tr data-href="/users/<%= following_user.id %>">
              <td class="col-1 col-md-1 col-sm-4">
                <%= image_tag following_user.get_profile_image(70,70) %>
              </td>
              <td class="col-5 col-md-5 col-sm-8">
                <%= following_user.user_name%><!--ユーザーネーム-->
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>

  <script>
    $('tr[data-href]').click(function (e) {
      if (!$(e.target).is('a')) {
        window.location = $(e.target).closest('tr').data('href');
      };
    });
  </script>

</div>


