<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-3">
      <h1 class="help">
        <strong>
          Help
        </strong>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-3">
      <h5 class="text-center">
        <strong>
          当サイトのご利用方法
        </strong>
      </h5>
      
      <div class="col-md-10" style="margin: 0 auto;">
        <div class="help-text">
          <h6>
            <strong>１. 新規登録、ログインをする</strong>
          </h6>
          <p>
            　入力必須項目を全て入力し、ボタンを押すことで、当サイトを利用することができます。
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>２. 投稿方法</strong>
          </h6>
          <p>
            ・POSTのGoogle Map上の検索フォームに、投稿したい場所を詳細に検索することで、<br>
            　マップ上にピンが出てきます。<br>
            ・そのピンをクリックすることで、新規投稿ページへのリンクが出てきます。<br>
            ・新規投稿ページに移動することで、文章と写真を投稿することができます。<br>
            ・タグをつける際には、投稿文に 半角# を入れることで、#の後の文字がタグとして登録されます。
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>３.投稿閲覧</strong>
          </h6>
          <p>
            ・投稿を閲覧する際は、POSTのGoogle Map横の投稿の一覧から閲覧できます。<br>
            ・また、検索フォームで地名、タグ、投稿者を検索することで、過去に他のユーザーの投稿されたものも出てきます。<br>
            ・検索結果が出ていない一覧表示にするには、クリアボタンを押し、再度 serchボタンを押すことで<br>
            　表示されます。<br>
            ・投稿をブックマークに追加することができ、ブックマークに追加した投稿は、MY PAGEのブックマークボタンを<br>
            　押すことで閲覧することができます。<br>
            ・投稿にはコメントを残すことができ、閲覧した投稿の投稿文の、下部にコメントの一覧があります<br>
            　コメントする場合には、「コメントをここに」の部分に、コメントしたい文章を記入し、<br>
            　『送信する』ボタンをクリックで、投稿にコメントすることができます。<br>
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>４.ユーザー</strong>
          </h6>
          <p>
            ・他のユーザーを閲覧したい場合は、USER をクリックすることで閲覧できます。<br>
            ・また、自分のフォロワーや、フォロー中のユーザーの一覧も表示することができます。<br>
            ・閲覧したいユーザーをクリックすることで、そのユーザーの自己紹介、過去投稿、フォロワー、フォロー中の<br>
            　ユーザーを知ることができます。<br>
            ・ユーザー名の下の、『フォローする』をクリックすることで、そのユーザーをフォローすることができます。<br>
            ・フォローを外す際は、『フォローを外す』がユーザー名の下に出てくるので、クリックすれば、フォローを外すこ<br>
            　とができます。
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>５.マイページ</strong>
          </h6>
          <p>
            ・MY PAGE では新規登録の際に、登録した情報の変更ができます。<br>
            ・また、表示する名前は、『edit』ボタンをクリックし、ユーザーネームを設定することで、変更できます。<br>
            ・自己紹介を変更する場合も同様に、変更できます。<br>
            ・ブックマークした投稿を確認するには、ブックマークボタンをクリックします。<br>
            ・フォロワー、フォロー中のリンクをクリックすることで、フォロワー、フォロー中のユーザーを確認できます。<br>
            ・登録情報の下には、過去に自分が投稿したものが一覧表示されています。
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>６.通報</strong>
          </h6>
          <p>
            ・悪質、反社会組織、宗教勧誘、人権を侵害するなどの投稿、コメントをするユーザーがいれば、<br>
            　そのユーザーを通報することができます。<br>
            ・通報するユーザーをクリックし、下の『このユーザーを通報する』ボタンをクリックすることで、<br>
              　通報画面に移動します。<br>
            ・通報する場合には、どの投稿、どのコメント、理由を詳しく記入をした上で、通報してください。<br>
            ・通報するだけで、そのユーザーの利用を制限するものではありません。<br>
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>７.ログアウト</strong>
          </h6>
          <p>
            　ログアウトをする場合は、MY PAGEの下に、Log out ボタンをクリックすることで、ログアウトできます。
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>８.退会</strong>
          </h6>
          <p>
            ・退会するには MY PAGE の『edit』ボタンをクリックで、下部に『退会する』ボタンをクリックすることで<br>
              　退会確認画面に移動します。<br>
            ・一度退会すると、ログインすることはできません。<br>
            ・また、退会すると今まで投稿したものや、コメント等は全て無くなります。<br>
            ・再度ご利用する場合は、新規登録を行うことでご利用できます。
          </p>
        </div>
        
    </div>
  </div>
</div>