<!--ヘルプページ-->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-3">
      <h1 class="help">
        <strong>
          Help
        </strong>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-3">
      <h5 class="text-center">
        <strong>
          当サイトのご利用方法
        </strong>
      </h5>
      
      <div class="col-12 col-md-10 mx-auto">
        <div class="help-text">
          <h6>
            <strong>１. 新規登録</strong>
          </h6>
          <p>
            ・入力必須項目を全て入力し、ボタンを押すことで、当サイトをより利用することができます。<br>
            ・ユーザーネームは3文字以上14字以内で入力してください<br>
            ・フリガナの項目は、全角カタカナで入力してください。
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>２.ログイン</strong>
          </h6>
          <p>
            ・登録したメールアドレスと、パスワードを入力し、ログインボタンを押すことで、ログインできます。<br>
            ・パスワードを忘れた場合には、『パスワードを忘れた方』のリンクをクリックしてください。<br>
            　入力したメールアドレス宛に、パスワードの再設定のリンクを送信します。<br>
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>３. 投稿方法</strong>
          </h6>
          <p>
            ・画面上部の『POST』をクリックします。<br>
            ・Google Map上の検索フォームに、投稿したい場所を詳細に検索することで、マップ上にピンが出てきます。<br>
            ・そのピンをクリックし、投稿場所、住所が表示され、『投稿する』をクリックすることで、<br>
              新規投稿ページに移動します。<br>
            ・新規投稿ページでは、投稿する場所に対して、投稿する文章や、画像を入力して投稿することができます。<br>
            ・投稿する文章は3文字以上、画像は5枚まで投稿できます。(画像がなくても投稿できます。)
            ・また、投稿にタグをつける際には、投稿文に # (半角) を入れることで、# の後の文字がタグとして登録されます。<br>
            　登録されたタグは、詳細ページから確認することができ、編集する際は、投稿の編集から行えます。<br>
            例）#猫　#散歩　
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>４.投稿閲覧</strong>
          </h6>
          <p>
            ・投稿を閲覧する際は、『POST』のGoogle Map横の投稿の一覧から閲覧できます。<br>
            ・また、検索フォームで地名、タグ、投稿者等を入力し、『serch』ボタンを押すことで、検索することができ、<br>
            　他のユーザーの投稿も出てきます。<br>
            ・検索結果が出ていない一覧表示にするには、『クリア』ボタンを押し、再度 『serch』ボタンを押すことで<br>
            　表示されます。<br>
            ・投稿はブックマークに追加することができ、ブックマークに追加した投稿は、『MY PAGE』のブックマークボタンを<br>
            　押すことで閲覧することができます。<br>
            　お気に入りの投稿があった場合は、ブックマークに追加しておきましょう。<br>
            ・投稿にはコメントを残すことができ、閲覧した投稿の投稿文の、下部にコメントの一覧があります<br>
            　コメントする場合には、「コメントをここに」の部分に、コメントしたい文章を記入し、<br>
            　『送信する』ボタンをクリックで、投稿に対してコメント残すことができます。<br>
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>５.ユーザー</strong>
          </h6>
          <p>
            ・他のユーザーを閲覧したい場合は、『USER』をクリックすることで閲覧できます。<br>
            ・また、自分のフォロワーや、フォロー中のユーザーの一覧も表示することができます。<br>
            ・閲覧したいユーザーをクリックすることで、そのユーザーの自己紹介、過去の投稿、フォロワー、フォロー中の<br>
            　ユーザーを、閲覧することができます。<br>
            ・ユーザー名の下の、『フォローする』をクリックすることで、そのユーザーをフォローすることができます。<br>
            ・フォローを外す際は、『フォローを外す』がユーザー名の下に出てくるので、クリックすれば、フォローを外すこ<br>
            　とができます。
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>６.マイページ</strong>
          </h6>
          <p>
            ・『MY PAGE』では新規登録の際に、登録した情報の変更ができます。<br>
            ・また、ユーザーネームは、『edit』ボタンをクリックし、登録情報編集ページにて変更できます。<br>
            ・自己紹介を変更する場合も同様に、変更できます。<br>
            ・ブックマークした投稿を確認するには、ブックマークボタンをクリックします。<br>
            ・フォロワー、フォロー中のリンクをクリックすることで、フォロワー、フォロー中のユーザーを確認できます。<br>
            ・登録情報の下には、過去に自分が投稿したものが一覧表示されています。
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>７.通報</strong>
          </h6>
          <p>
            ・悪質、反社会的、宗教勧誘、人権を侵害するなどの投稿、コメントをするユーザーがいれば、<br>
            　そのユーザーを通報することができます。<br>
            ・通報するユーザーをクリックし、下記の『このユーザーを通報する』ボタンをクリックすることで、<br>
            　通報画面に移動します。<br>
            ・通報する場合には、どの投稿、どのコメント、理由を詳しく記入をした上で、通報してください。<br>
            ・通報するだけで、そのユーザーの利用を制限するものではありません。<br>
            ・また、管理者側で悪質なユーザーを発見した場合は、そのユーザーに対して、<br>
            　当サイトの利用を停止させていただきます。
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>８.ログアウト</strong>
          </h6>
          <p>
            ・ログアウトをする場合は、『MY PAGE』の下部にある、『Log out』ボタンをクリックすることで、ログアウトできます。
          </p>
        </div>
        
        <div class="help-text">
          <h6>
            <strong>９.退会</strong>
          </h6>
          <p>
            ・退会するには MY PAGE の『edit』ボタンをクリックで、下部に『退会する』ボタンをクリックすることで<br>
            　退会確認画面に移動します。<br>
            ・一度退会すると、ログインすることはできません。<br>
            ・また、退会すると今まで投稿したものや、コメント等は全て無くなります。<br>
            ・再度ご利用する場合は、新規登録から始めてください。
          </p>
        </div>
        
    </div>
  </div>
</div>