<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-3">
      <h1 class="privacy">
        <strong>
          Privacy Policy
        </strong>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center mt-3">
      <h5>
        <strong>
          個人情報保護方針
        </strong>
      </h5>
    </div>
    <div style="margin: 0 auto;">
      <p>
        このサイトは，ユーザーの個人情報について以下のとおりプライバシー<br>
        ポリシー（以下、「本ポリシー」という。）を定めます。<br>
        本ポリシーは、どのような個人情報を取得し、どのように利用・共有するか、<br>
        ユーザーがどのようにご自身の個人情報を管理できるかをご説明するものです。
      </p>
    </div>

    <div class="col-md-10">

    </div>
  </div>

</div>