<!--プライバシーポリシー-->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mt-3">
      <h1 class="privacy">
        <strong>
          Privacy Policy
        </strong>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center mt-3">
      <h5>
        <strong>
          個人情報保護方針
        </strong>
      </h5>
    </div>
    <div class="mt-5" style="margin: 0 auto;">
      <div>
        <p>
          このポートフォリオでは，ユーザーの個人情報について以下のとおり<br>
          プライバシーポリシーを定めます。<br>
        </p>
      </div>
      <div class="mt-5">
        <p>
          １.このポートフォリオで取得した個人情報は、不正に利用することは致しません
        </p>
        <p>
          ２.また、個人情報などを、第三者へ提供することは行いません。
        </p>
      </div>
    </div>
  </div>
</div>