@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';
// ロゴのフォント
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
// フッターのフォント
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

*,
*:before,
*:after{
  box-sizing: border-box;
}
// ーーーーーーーーーーーーーーーーーーーーapplication.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// ヘッダー
header{
  background-image: linear-gradient(150deg, rgba(57, 74, 245, 0.85) 10%, rgba(46, 110, 219, 0.58) 34%, rgba(62, 120, 204, 0.43) 60%, rgba(210, 199, 157, 0.47) 87%);
  font-family: 'Amatic SC', cursive;
  text-decoration: none;
  height: 5%;
  margin: 0;
  border-bottom: 2px solid #111111;
}
// ロゴ『CAT WALK』
.logo {
  width: 100%;
  font-size: 50px;
  color:#333333;
  font-weight: bold;
}

.logo:hover {
  color:#333333;
}
// ログイン状態の確認
.login_state {
  width: 300px;
  height: 30px;
  margin: 0 auto;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  border: 1px solid #111111;
  border-radius: 15px;
  align-items: center;
}

// フッター
footer{
  background-image: linear-gradient(150deg, rgba(3, 3, 3, 1) 9%, rgba(49, 49, 49, 1) 32%, rgba(112, 111, 111, 1) 55%, rgba(170, 169, 169, 1) 83%);
  font-family: 'Caveat', cursive;
  font-size: 27px;
  height: 275px;
  padding: 100px 0;
  position: relative;
}

// コピーライト
.copyright {
  color: #DDDDDD;
}

// プライバシーポリシー
.privacy, .help {
  font-family: 'Caveat', cursive;
}

.privacy a, .help a {
  padding: 20px;
  color: #DDDDDD;
  font-family: 'Caveat', cursive;
  text-decoration: none;
  font-size: 27px;
  display: flex;
}

@media screen and (max-width: 576px) {
  // フッター
  footer{
    height: 275px;
    margin-top: 72px;
    font-size: 18px;
  }

  .privacy a, .help a {
    font-size: 18px;
  }
}

.subtitle {
  font-size: 18px;
}

// ーーーーーーーーーーーーーーーーーーーーーーーーーーhelp.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.help-text h6 {
  margin-top: 30px;
}

.help-text p {
  margin-left: 50px;
}

// ーーーーーーーーーーーーーーーーーーーーーーーーーーtop.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// 『はじめる』、『ログイン』ボタン
.wrapper a{
  display: block;
  width: 250px;
  height: 50px;
  line-height: 46px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  border: 3px solid #111;
  color: #111;
  font-size: 20px;
  font-family: arial;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  transition: all .35s;
}

.wrapper a:before,
.wrapper a:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #3399FF;
  z-index: -1;
  transition: all .35s;
}

.wrapper a:before{
  opacity: .5;
}

.wrapper a:after{
  transition-delay: .2s;
}

.wrapper a:hover{
  color: #fff;
}

.wrapper a:hover:before,
.wrapper a:hover:after{
  top: 0;
}


// ーーーーーーーーーーーーーーーーーーーー新規登録、ログイン、ブックマーク(追加、外す)のボタンのベースーーーーーーーーーーーーーーーーーーーーーーーーーー
.registration_button,.session_button,.add-bookmark,.remove-bookmark {
  font-size: 20px;
  padding: 5px 20px;
  margin: 5 10px;
  cursor: pointer;
  color: black;
  text-transform: lowercase;
  border: 1px solid #111;
  border-radius: 10px;
  display: inline-block;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(.86, .01, .15, .99);
}

.registration_button::before, .session_button::before, .add-bookmark::before ,.remove-bookmark::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0;
}

// 新規登録ボタンでのアニメーション
.registration_button {
  background: #fff;
  transform: perspective(1px) translateZ(0);
  color: black;
  transition: 0.5s;
}

.registration_button::before {
  background: rgb(255, 90, 20);
  clip-path: inset(0 100% 0 0);
  opacity: 1;
  transition: 0.5s;
}

.registration_button:hover::before {
  clip-path: inset(0 0 0 0);
}

.registration_button:hover {
  color: white;
  box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
}

// ログインボタンでのアニメーション
.session_button {
  background: white;
  color: black;
  transform: perspective(1px) translateZ(0);
  transition: 0.4s;
}

.session_button::before {
  background: rgb(20, 120, 255);
  clip-path: polygon(50% 0, 50% 0, 50% 50%, 50% 100%, 50% 100%, 50% 50%);
  opacity: 1;
  transition: 0.4s;
}

.session_button:hover::before {
  clip-path: polygon(25% -70%, 75% -70%, 120% 50%, 75% 170%, 25% 170%, -20% 50%);
}

.session_button:hover {
  color: white;
  box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
}

// ブックマークの gradient
button.gradient:hover {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}

// ブックマークに追加のリンク
.bookmark-link {
  a {
    color: #fff;
    text-decoration: none;
  }
  .remove-bookmark:hover {
    color: #111;
  }
}

.add-bookmark {
  -webkit-transform: perspective(1px) translateZ(0);
  background: #08aa61;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-timing-function: cubic-bezier(.86, .01, .15, .99);
  transition-duration: 0.4s;
}


.add-bookmark:before {
  background: linear-gradient(to bottom, #88daa1, #08aa61);
  transform: scaleY(0);
  transform-origin: 0% 0%;
  transition: 0.4s cubic-bezier(.86, .01, .15, .99);
}

.add-bookmark:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.remove-bookmark, .add-bookmark {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 30px 0;
}

// ブックマークから外すリンク
.remove-bookmark {
  background: #B384FF;
  transform: perspective(1px) translateZ(0);
  transition: 0.4s cubic-bezier(.86, .01, .15, .99);
}

.remove-bookmark:before {
  background: linear-gradient(to right, #B384FF, #EAD9FF, #B384FF);
  transform: scaleX(0);
  opacity: 0;
  transform-origin: 50% 50%;
  transition: 0.4s cubic-bezier(.86, .01, .15, .99);
  color: #111;
}

.remove-bookmark:hover:before {
  transform: scaleX(1) scaleY(1);
  opacity: 1;
}



@media screen and (max-width: 767.98px) {
  .add-bookmark, .remove-bookmark {
    margin: 35px 0;
    width: 77%;
    display: flex;
    justify-content: center;
  }
}

// 新規投稿時のボタン、マイページの編集リンク,編集アップデート,ログアウトリンク
.new-post-btn-hover, .edit-btn-hover, .update-btn-hover, .delete-btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.new-post-btn-hover:hover, .edit-btn-hover:hover, .update-btn-hover:hover, .delete-btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.new-post-btn-hover:focus, .edit-btn-hover:focus, .delete-btn-hover:focus, .update-btn-hover:focus {
  outline: none;
}

// 新規投稿ボタン
.new-post-btn-hover.color-new-post {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

// マイページ編集ボタン
.edit-btn-hover.color-edit {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  color:#fff;
  text-decoration: none;
}

// マイページのアップデートボタン
.update-btn-hover.color-update {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

// ログアウトボタン
.delete-btn-hover.color-delete {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
  color:#fff;
  text-decoration: none;
}

// 退会ボタン
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.unsubscribe{
  width: 200px;
  text-decoration: none;
  display: inline-block;
  padding: 20px 50px;
  margin: 20px 0;
  position: relative;
}

.unsubscribe a{
  color: #111111;
}


#unsubscribe-button{
  border: 2px solid #34495e;
  color: #34495e;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#unsubscribe-button:before, #unsubscribe-button:after{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 50%;
  top: -50%;
  left: 0;
  background-color: #BB0000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#unsubscribe-button:after{
  top: 100%;
}

#unsubscribe-button:hover{
  color: #DDDDDD;
  text-decoration: none;
}

#unsubscribe-button:hover:before{
  top: 0;
}

#unsubscribe-button:hover:after{
  top: 50%;
}

// ーーーーーーーーーーーーーーーーーーーーーーーーpublic/user/index.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// ユーザー一覧のタブ
.tab {
  width: 27%;
  padding: 10px;
  cursor: pointer;
  border: solid 1px #CCC;
}

@media screen and (max-width: 767.98px) {
  .tab {
    width: 100%;
  }
}

/*タブがactiveのときのデザイン*/
.tab-active {
  color: #FFF;
  background-image: linear-gradient(185deg, rgba(94, 172, 255, 0.63) 15%, rgba(71, 130, 245, 0.63) 41%, rgba(36, 94, 239, 0.63) 68%, rgba(0, 59, 255, 0.63) 95%);
  transition: all 0.2s ease-in-out;
}
/*タブの中身、最初は非表示*/
.tabbox {
  display: none;
  padding: 15px;
}
/*box-showクラスのものだけ表示*/
.box-show {
  display: block;
}
/*hover時のアクション*/
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}


// ーーーーーーーーーーーーーーーーーーーーーーーーpublic/posts/new.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// 新規投稿で投稿画像が５枚より多い時のエラー
#post_images {
  padding: 5px;
}


// 新規投稿
.new-post-introduction {
  width: 500px;
  height: 300px;
}

@media screen and (max-width: 576px) {
  .new-post-introduction {
    width: 100%;
    height: 450px;
  }
}

// ーーーーーーーーーーーーーーーーーーーーーーpublic/posts/index.html.erbーーーーadmin/posts/index.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.search-box {
  margin-left: 10px;
  width: 57%;
}

@media screen and (max-width: 767.98px) {
  .search-box {
    width: 72%;
  }
}

.post-list {
  border: 1px solid #111111;
  width: 70%;
  height: 700px;
  padding: 10px;
  margin-left: 15%;
  overflow: scroll;
  overflow-x: hidden;
}

.post-box {
  height: 185px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 576px) {
.search-button {
    width: 52px;
    height: 37px;
    font-size: 13px;
    display: flex;
    justify-content: center;
  }

  .clear-button {
    width: 56px;
    font-size: 10px;
    padding: 10px;
  }

  .post-list {
    width: 90%;
    height: 800px;
    padding: 10px;
    margin: 0 auto;
    overflow: scroll;
    overflow-x: hidden;
  }
}

// ーーーーーーーーーーーーーーーーーーーーーーーーpublic/posts/show.html.erbーーーーーadmin/posts/show.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

.post-user-name {
  text-align: left;
}

// 投稿文
.post {
  width: 100%;
  height: 400px;
  padding: 10px 15px;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid #111111;
  border-radius: 8px;
  text-align: start;
}
// コメント
// 枠
.comment{
  width: 100%;
  height: 600px;
  padding: 5px;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid #111111;
  border-radius: 8px;
}
// コメント入力欄
.input-comment {
  width: 100%;
  height: 50px;
  padding: 5px;
  border: 1px solid #111111;
  border-radius: 8px;
  margin-right: 10px;
}
// コメントしたユーザー
.comment-user-name {
  color: #222222;
  font-size: 20px;
  opacity: 0.7;
}

.comment-user-name a:hover {
  color: #222222;
  text-decoration: none;
}

@media screen and (max-width: 440px) {
  .comment-user-name {
    padding: 5px;
    display: flex;
    align-itens: center;
    font-size: 13px;
    opacity: 0.7;
  }
}

// コメント削除ボタン
.comment-delete {
  display: flex;
  margin: 0 auto;
  width: 50px;
  color: white;
  background-color: #FF3300;
  border: 1px solid #222222;
  border-radius: 5px;
}

.comment-delete:hover {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 440px) {
  .comment-delete {
    font-size: 12px;
    width: 38px;
  }
}

// コメントの文章
.comment-sentence {
  word-break: break-word;
  overflow-wrap: break-word;
  display: flex;
  justify-content: start;
  text-align: start;
  font-size: 25px;
}

@media screen and (max-width: 576px) {
  .post {
    width: 93%;
    height: 300px;
    margin: 0 auto;
    padding: 5px;
  }

  .comment {
    width: 100%;
  }

  .comment-sentence {
    font-size: 18px;
  }
}

// ーーーーーーーーーーーーーーーーーーーーーーーーpublic/posts/edit.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.edit-introduction {
  width: 500px;
  height: 300px;
  padding: 10px 20px;
}

@media screen and (max-width: 767.98px) {
  .edit-introduction {
    height: 235px;
    width: 100%;
  }
}

// ーーーーーーーーーーーーーーーーーーーーーーーーpublic/users/_list.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// ユーザー一覧
.user-list {
  margin: 0 auto;
  height: 600px;
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid #111111;
}

.user-list td {
  vertical-align: middle;
  font-size: 17px;
}

// ーーーーーーーーーーーーーーーーーーーーーpublic/users/show.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// ユーザー詳細
.user-introduction {
  height: 250px;
  width: 70%;
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid #111111;
  border-radius: 8px;
}

// フォローするボタン
.follow-button {
  width: 150px;
  height: 30px;
  margin: 0 auto;
  background-color: #3366FF;
  border: 1px solid #111111;
  border-radius: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #EEEEEE;
  text-decoration: none;
}

.follow-button:hover {
  color: #EEEEEE;
  text-decoration: none;
}

// フォローを外すボタン
.unset-follow-button {
  width: 150px;
  height: 30px;
  margin: 0 auto;
  background-color: #EEEEEE;
  border: 1px solid #111111;
  border-radius: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #222222;
  text-decoration: none;
}

.unset-follow-button:hover {
  color: #111111;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .user-introduction {
    width: 100%;
    font-size: 15px;
  }
}

// ーーーーーーーーーーーーーーーーーーーーーーーーpublic/users/my_page.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// マイページの情報
.mypage-info{
  border: 1px solid white;
  border-radius: 15px;
  width: 100%;
  color: #DDDDDD;
  background-color: #444444;
}
// マイページのブックマークリンク
.bookmark-button{
  background-color: #34495e;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 50px;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
}

.bookmark-button:hover{
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
}

// マイページ自己紹介
.mypage-introduction {
  height: 200px;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  overflow: scroll;
  overflow-x: hidden;;
  border: 1px solid #111111;
}

// マイページの edit ＆ Logout のボタンベース
.mypage-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .mypage-info {
    width: 66%;
  }

  .mypage-introduction {
    width: 100%;
  }
}

// ーーーーーーーーーーーーーーーーーーーrelationships/follower.html.erb  ,following.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// フォロー中一覧,フォロワー一覧
.following-list, .follower-list {
  margin: 0 auto;
  height: 650px;
  width: 90%;
  font-size: 20px;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid #111111;
  border-radius: 8px;
}

.following-list td, .follower-list td {
  vertical-align: middle;
}

// ーーーーーーーーーーーーーーーーーーーrelationships/follower.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  // フォローしていないユーザーをフォローするとき
.follow-in {
  border: 1px solid #111111;
  border-radius: 15px;
  color: #FFFFFF;
  background-color: #3366FF;
  padding: 3px 12px;
}

.follow-in:hover {
  color: #FFFFFF;
  text-decoration: none;
}

  // フォローしているユーザーのフォローを外すとき
.follow-out{
  border: 1px solid #111111;
  border-radius: 15px;
  color: #111111;
  background-color: #EEEEEE;
  padding: 3px 12px;
}

.follow-out:hover {
  color: #111111;
  text-decoration: none;
}

.report-reason {
  width: 600px;
  height: 300px;
  margin: 0 auto;
}

// ーーーーーーーーーーーーーーーーーーーpublic/reports/show.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
@media screen and (max-width: 576px) {
  .report-reason {
    width: 100%;
  }
}

// 管理者側
// ーーーーーーーーーーーーーーーーーーーadmin/reports/index.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.report-list {
  width: 90%;
  height: 540px;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid #111111;
}

@media screen and (max-width: 500px) {
  .report-list {
    font-size: 7px;
  }
}

// ーーーーーーーーーーーーーーーーーーーadmin/reports/show.html.erbーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.admin-report-reason {
  width: 100%;
  height: 400px;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid #111111;
}