/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.header-cat {
  background-image: image-url("cat_morning.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 138px;
  width: 148px;
  position: absolute;
  top: 2%;
  left: 84%;
}

.footer-cat {
  background-image: image-url("sit_cat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 141px;
  width: 141px;
  position: relative;
  bottom: 350px;
  right: 94px;
}

@media screen and (max-width:576px) {
  
  .header-cat {
    height: 85px;
    width: 89px;
    top: 10%;
  }
  
  .footer-cat {
    height: 85px;
    width: 86px;
    bottom: 303px;
  }
  
  
}